@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100vh;
    overflow-x: none;
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
}
button{
    background-color: inherit;
    border: inherit;
    outline: inherit;
    cursor: pointer;
}
ul {
    list-style: none;
}

 .wrapper {
    max-width: 375px;
    margin: 0 auto;
 }
